.mainDiv{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #d7d3d3;
}

.main{
  margin: 0;
}

.main-body{
    padding: 20px;
}

.header{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    background-color: #10584d;
}

.row2{
  padding-top: 15px;
    display: flex;
    height: 50px;
} 

.row1{
  color: white;
}

.book-horizontal-list{
    display: flex;
  overflow-x: auto;
  width: 100%;
  padding: 20px 0;
}

.card{
    flex: 0 0 auto;
    margin-right: 30px;
    height: 200px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
}

img{
    height: 200px;
    width: auto;
    cursor: pointer;
}

.horizontal-scroll{
    width: 100%;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
  }

.horizontal-list {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 100%; /* Set a width based on the content */
    text-transform: uppercase;
    background-color: "#333";
    overflow-x: auto;
  }

  .horizontal-list li:active {
    color: greenyellow; /* Change the color to your desired color */
  }


.book-card {
    width: 100%;
    padding: 20px;
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white;
  }
  
  .card-image {
    width: 150px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
  }
  
  .card-content {
    display: flex;
  flex-direction: column; /* Align content vertically */
  align-items: flex-start;
  }
  
  .subheading {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .book-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .paragraph {
    font-size: 14px;
    color: #333;
  }
  
  .overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: white;
    width: 80vh;
    height: 80vh;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    font-size: 1.3rem;
    overflow-y: auto; 
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
   
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}

@media screen and (max-width: 600px) {
  .row1{
    font-size: 12px;
} 
}

@media screen and (max-width: 400px) {
  .row1{
    font-size: 9px;
} 
}